<div id="header">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-lg-offset-1 col-lg-3 logo">
          <div class="logo-img">
            <a href="#"><img src="../assets/header/img-logo.png" alt="img-logo"></a>
          </div>
          <a href="#">
            <p>OKSI TOUR</p>
          </a>
        </div>

        <div class="col-lg-offset-4 col-lg-2">
          <div class="our-cores">
            <div class="img-core">
              <a href="#"><img src="../assets/header/img-our-core.png" alt="img-our-core"></a>
            </div>
            <div class="data-inf">
              <p>г. Харьков</p>
              <p>ул. Тринклера 196</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="our-tel">
            <div class="img-core">
              <a href="#"><img src="../assets/header/img-tel.png" class="img-bg" alt="img-tel"></a>
            </div>
            <div class="tel-inf">
              <p>(057) 213-41-05</p>
              <p>(057) 213-41-06</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container-wrapper">

    <nav class="navbar navbar-default">
      <div class="col-lg-offset-3 col-lg-6 container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">О НАС</a></li>
            <li><a href="#">ПРОГРАММА</a></li>
            <li><a href="#">ОТЗЫВЫ</a></li>
            <li><a href="#">ЗАБРОНИРОВАТЬ</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-info">
      <h2>АВСТРИЙСКИЕ АЛЬПЫ</h2>
      <h3>НА НОВЫЙ ГОД</h3>
    </div>

    <div class="calen">
      <span>
        <img src="../assets/header-down/img-calendar.png" alt="img-calendar">
        <p>30.12 - 04.01</p>
      </span>
      <span>
        <img src="../assets/header-down/img-alps.png" alt="img-alps">
        <p>Горнолыжный курорт Sölden</p>
      </span>
    </div>

    <div class="button">
      <button class="button-for-all">ЗАБРОНИРОВАТЬ</button>
    </div>

  </div>
</div>

<div id="about-us">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3">О НАС</h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="font-img-map">
                <img class="w100" src="../assets/about-us/img-global-map.png" alt="img-global-map">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 number-info">
                <p class="text-right">4</p>
                <p class="text-right">10</p>
                <p class="text-right">+120</p>
                <p class="text-right">+6000</p>
                <p class="text-right">+600000</p>
              </div>
              <div class="col-lg-3 text-info">
                <p>ГОДА УСПЕШНОЙ РАБОТЫ</p>
                <p>СОЗДАННЫХ СЕМЕЙ В ТУРАХ</p>
                <p>ОРГАНИЗОВАННЫХ ТУРОВ</p>
                <p>ДОВОЛЬНЫХ ТУРИСТОВ</p>
                <p>КИЛОМЕТРОВ ПРЕОДОЛЕНО</p>
              </div>

              <!-- <div class="progress-one">
                  <img src="../assets/about-us/img-progress-one-w-us.png" alt="img-progress-one-w-us">
                  <p>67</p>
              </div>
              <div class="txt">
                <p>туристов открывают Европу впервыe с нами</p>
              </div>
            </div> -->

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="in-tur">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3">ЧТО ВКЛЮЧЕНО В ТУР</h3>
          <div class="row mt-65">
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-bus.png" alt="img-icon-bus">
              <p>Проезд на  комфортабельном  автобусе</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-hotel.png" alt="img-icon-hotel">
              <p>Проживание в 3/4* отеле с завтраком</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-gid.png" alt="img-icon-gid">
              <p>Сопровождение  организатора весь тур</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-learn.png" alt="img-icon-learn">
              <p>Обзорные  экскурсии по Зольдену </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="programm">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="review">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="book">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="contacts">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="footer">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<router-outlet></router-outlet>