<!-- <div id="main">

  <div class="container-wrapper header-down">
    <div class="container">
      <div class="row">
        <div class="">
          <nav class="navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target=".navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">ГЛАВНАЯ</a></li>
                  <li><a href="#">О НАС</a></li>
                  <li><a href="#">ПРОГРАММА</a></li>
                  <li><a href="#">ОТЗЫВЫ</a></li>
                  <li><a href="#">ЗАБРОНИРОВАТЬ</a></li>
                  <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="col-lg-12 header-info">
            <h2>АВСТРИЙСКИЕ АЛЬПЫ</h2>
            <h3>НА НОВЫЙ ГОД</h3>
          </div>

          <div class="col-lg-12 calen">
            <span>
              <img src="../assets/header-down/img-calendar.png" alt="img-calendar">
              <p>30.12 - 04.01</p>
            </span>
            <span>
              <img src="../assets/header-down/img-alps.png" alt="img-alps">
              <p>Горнолыжный курорт Sölden</p>
            </span>
          </div>

          <div class="col-lg-12 button">
            <button class="button-for-all">ЗАБРОНИРОВАТЬ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="about-us">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10" id="about-us">
          <h3 class="h3">О нас</h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="font-img-map">
                <img class="w100" src="../assets/about-us/img-global-map.png" alt="img-global-map">
              </div>
            </div>
            <div class="col-lg-2 flex-column">
              <p class="text-right">4</p>
              <p class="text-right">10</p>
              <p class="text-right">+120</p>
              <p class="text-right">+6000</p>
              <p class="text-right">+600000</p>
            </div>
            <div class="col-lg-3 flex-column">
              <p>ГОДА УСПЕШНОЙ РАБОТЫ</p>
              <p>СОЗДАННЫХ СЕМЕЙ В ТУРАХ</p>
              <p>ОРГАНИЗОВАННЫХ ТУРОВ</p>
              <p>ДОВОЛЬНЫХ ТУРИСТОВ</p>
              <p>КИЛОМЕТРОВ ПРЕОДОЛЕНО</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<div id="header">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-lg-offset-1 col-lg-3 logo">
          <div class="logo-img">
            <a href="#"><img src="../assets/header-up/img-logo.png" alt="img-logo"></a>
          </div>
          <a href="#">
            <p>OKSI TOUR</p>
          </a>
        </div>

        <div class="col-lg-offset-4 col-lg-2">
          <div class="our-cores">
            <div class="img-core">
              <a href="#"><img src="../assets/header-up/img-our-core.png" alt="img-our-core"></a>
            </div>
            <div class="data-inf">
              <p>г. Харьков</p>
              <p>ул. Тринклера 196</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="our-tel">
            <div class="img-core">
              <a href="#"><img src="../assets/header-up/img-tel.png" class="img-bg" alt="img-tel"></a>
            </div>
            <div class="tel-inf">
              <p>(057) 213-41-05</p>
              <p>(057) 213-41-06</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container-wrapper">
    <div class="container">

      

    </div>
  </div>
</div>

<div id="about-us">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="programm">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="review">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="book">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="contacts">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="footer">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<router-outlet></router-outlet>