<div id="header">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-lg-offset-1 col-lg-3 logo">
          <div class="logo-img">
            <a href="#"><img src="../assets/header/img-logo.png" alt="img-logo"></a>
          </div>
          <a href="#">
            <p>OKSI TOUR</p>
          </a>
        </div>

        <div class="col-lg-offset-4 col-lg-2">
          <div class="our-cores">
            <div class="img-core">
              <a href="#"><img src="../assets/header/img-our-core.png" alt="img-our-core"></a>
            </div>
            <div class="data-inf">
              <p>г. Харьков</p>
              <p>ул. Тринклера 196</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="our-tel">
            <div class="img-core">
              <a href="#"><img src="../assets/header/img-tel.png" class="img-bg" alt="img-tel"></a>
            </div>
            <div class="tel-inf">
              <p>(057) 213-41-05</p>
              <p>(057) 213-41-06</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container-wrapper">

    <nav class="navbar navbar-default">
      <div class="col-lg-offset-3 col-lg-6 container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">О НАС</a></li>
            <li><a href="#">ПРОГРАММА</a></li>
            <li><a href="#">ОТЗЫВЫ</a></li>
            <li><a href="#">ЗАБРОНИРОВАТЬ</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-info">
      <h2>АВСТРИЙСКИЕ АЛЬПЫ</h2>
      <h3>НА НОВЫЙ ГОД</h3>
    </div>

    <div class="calen">
      <span>
        <img src="../assets/header-down/img-calendar.png" alt="img-calendar">
        <p>30.12 - 04.01</p>
      </span>
      <span>
        <img src="../assets/header-down/img-alps.png" alt="img-alps">
        <p>Горнолыжный курорт Sölden</p>
      </span>
    </div>

    <div class="button">
      <button class="button-for-all">ЗАБРОНИРОВАТЬ</button>
    </div>

  </div>
</div>

<div id="about-us">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3">О НАС</h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="font-img-map">
                <img class="w100" src="../assets/about-us/img-global-map.png" alt="img-global-map">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 number-info">
                <p class="text-right">4</p>
                <p class="text-right">10</p>
                <p class="text-right">+120</p>
                <p class="text-right">+6000</p>
                <p class="text-right">+600000</p>
              </div>
              <div class="col-lg-3 text-info">
                <p>ГОДА УСПЕШНОЙ РАБОТЫ</p>
                <p>СОЗДАННЫХ СЕМЕЙ В ТУРАХ</p>
                <p>ОРГАНИЗОВАННЫХ ТУРОВ</p>
                <p>ДОВОЛЬНЫХ ТУРИСТОВ</p>
                <p>КИЛОМЕТРОВ ПРЕОДОЛЕНО</p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="in-tur">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3">ЧТО ВКЛЮЧЕНО В ТУР</h3>
          <div class="row mt-65">
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-bus.png" alt="img-icon-bus">
              <p>Проезд на комфортабельном автобусе</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-hotel.png" alt="img-icon-hotel">
              <p>Проживание в 3/4* отеле с завтраком</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-gid.png" alt="img-icon-gid">
              <p>Сопровождение организатора весь тур</p>
            </div>
            <div class="col-lg-3 flex-center-column">
              <img src="../assets/in-tur/img-icon-learn.png" alt="img-icon-learn">
              <p>Обзорные экскурсии по Зольдену </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="programm">
  <div class="container-wrapper">
    <div class="container">

      <div class="rov">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3">Программа тура</h3>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-one-day.png" alt="img-one-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">30.12 пятница</p>
                <p>14.00 Выезд со Львова, начало нашего</p>
                <p> автобусного горнолыжного тура в Австрийские</p>
                <p>Альпы, горнолыжный крорт Зельденждёт нас</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day1-1.png" alt="img-day1-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day1-2.png" alt="img-day1-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-two-day.png" alt="img-two-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">31.12 суббота</p>
                <p>Прибытие на курорт Зеефильд. Заселение в отель.</p>
                <p>В Зеефильде свыше 100 подъёмников и 200 км </p>
                <p>трас.</p>
                <p>Сегодня у нас костюмированная вечеринка.</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day2-1.png" alt="img-day2-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day2-2.png" alt="img-day2-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-tree-day.png" alt="img-tree-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">1.01 воскресенье</p>
                <p class="pb-20">Завтрак в отеле.</p>
                <p>Для всех желающих будет организован</p>
                <p>трансфер на популярный горнолыжный курорт</p>
                <p>Зельден (Solden).</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day3-1.png" alt="img-day3-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day4-1.png" alt="img-day4-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-four-day.png" alt="img-four-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">2.01 понедельник</p>
                <p class="pb-20">Завтрак в отеле.</p>
                <p>Трансфер на курорт Зельден (Solden).</p>
                <p>Вечером апре-ски в одном из популярных</p>
                <p>пабах курорта!</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day4-1.png" alt="img-day4-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day3-1.png" alt="img-day3-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-five-day.png" alt="img-five-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">3.01 вторник</p>
                <p class="pb-20">Завтрак в отеле.</p>
                <p>По желанию трансфер на курорт Зельден</p>
                <p>(Solden).</p>
                <p>Возвращение в отель.</p>
                <p>Поздний выезд во Львов.</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day5-1.png" alt="img-day5-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day6-1.png" alt="img-day6-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-block">
            <div class="flex-center-column w100 mt-65 mb-40">
              <img src="../assets/programm/img-six-day.png" alt="img-six-day">
            </div>
            <div class="row mb-40">
              <div class="col-lg-offset-1 col-lg-5">
                <p class="upper text-uppercase">4.01 среда</p>
                <p>Приезжаем, делимся эмоциями и планируем</p>
                <p>следующую поездку с нами.</p>
                <div class="vertical-line"><img src="../assets/programm/img-vertical-pr.png" alt="img-vertical-pr">
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-5">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner mt-5" role="listbox">
                    <div class="item active">
                      <img src="../assets/programm/img-day6-1.png" alt="img-day6-1">
                    </div>
                    <div class="item">
                      <img src="../assets/programm/img-day5-1.png" alt="img-day5-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="button">
            <button class="button-for-all">ЗАБРОНИРОВАТЬ</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="go-us">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <h3 class="h3 text-uppercase">С нами едут</h3>

          <div class="row mt-65">
            
            <div class="col-lg-2">
              <div class="go-us-img">
                <img src="../assets/go-us/img-gid.png" alt="img-gid">
              </div>
            </div>

            <div class="col-lg-4 ml-40">
              <h5 class="text-uppercase mb-40">Гид</h5>
              <p>Александр</p>
              <p>Белый</p>
              <span><img src="../assets/go-us/img-f.png" alt="img-f"></span>
              <span><img src="../assets/go-us/img-t.png" alt="img-t"></span>
            </div>

            <div class="col-lg-2">
              <div class="go-us-img">
                <img src="../assets/go-us/img-fotograf.png" alt="img-fotograf">
              </div>
            </div>

            <div class="col-lg-3 ml-40">
              <h5 class=" mb-40">Фотограф/Оператор</h5>
              <p>Евгений</p>
              <p>Торский</p>
              <span><img src="../assets/go-us/img-f.png" alt="img-f"></span>
              <span><img src="../assets/go-us/img-t.png" alt="img-t"></span>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div id="book">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="contacts">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<div id="footer">
  <div class="container-wrapper">
    <div class="container">

    </div>
  </div>
</div>

<router-outlet></router-outlet>